.prevCart {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.25);
    padding: 20px;
    height: 80%;
    width: 80%;
    align-items: center;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    opacity: 0;
    pointer-events: none;
    z-index: 2;
    transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
}

.prevCart.active {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    pointer-events: auto;
}

.prevCart .btn-Cart {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 23px;
    height: 17px;
    background: #4CAF50;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
    transition: 1s;
}

.prevCart .btn-Cart:hover {
    background: #821e1e;
    color: #eee;
}

.itemContentCart {
    margin-top: 10px;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.placeOrderSumm {
    background-color: #a73131;
    width: 90%;
    /* Adjust width as needed */
    height: 25%;
    border-radius: 10px;
    margin: 10px auto;
    /* Center horizontally */
    padding: 10px;
    align-items: center;
    position: fixed;
    margin-bottom: 4%;
    bottom: 0;
    left: 0;
    right: 0;
}

.cartContent {
    /* Adjust the height as needed */
    overflow-y: auto;
    margin: 10px;
    background-color: #bcbcbc6b;
    border-radius: 10px;
    height: 500px;
    padding: 10px;
}

.placeOrderSumm h1 {
    color: white;
    /* Styles for the h1 element inside .placeOrderSumm */
}

.placeOrderSumm p.total_price {
    color: white;
}


/* Style for the table */

#your_table_id {
    border-collapse: collapse;
    width: 10%;
    background-color: #4CAF50;
}

#your_table_id th,
#your_table_id td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

#your_table_id th {
    background-color: #f2f2f2;
}


/* Style for the images */

#your_table_id img {
    max-width: 40px;
    /* Set maximum width */
    height: auto;
    /* Reset height to allow scaling */
    display: block;
    margin: 0 auto;
}