* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.shopTitle {
    display: block;
    margin-top: 70px;
    font-size: 40pt;
    margin-bottom: 50px;
}

.HomeContent {
    position: relative;
    z-index: 1;
    padding: 100px 0;
    height: 100vh;
    color: aliceblue;
    padding: 0 5%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    text-decoration: none;
}

.HomeContent h1 {
    font-size: 40px;
    color: white;
    text-decoration: none;
}

.HomeContent p {
    font-size: 20px;
    margin-top: 20px;
    color: white;
    text-decoration: none;
}

.HomeContent button {
    text-decoration: none;
    margin-top: 30px;
    padding: 10px 20px;
    border: none;
    background: white;
    font-size: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    transition: 0.3s;
    font-weight: bold;
}

.HomeContent button a {
    color: inherit;
    text-decoration: none;
}

.HomeContent button:hover {
    background-color: #a73131;
    color: white;
    transform: scale(1.05);
}

.Shop {
    padding: 10px 5%;
    height: auto;
    width: 100%;
    position: absolute;
    background-color: #ffffff;
}

.products {
    display: block;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-items: center;
}

.products .card {
    width: 310px;
    background: white;
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}

.products .card img {
    height: 350px;
    width: 100%;
    border-radius: 15px;
}

.products .card .title {
    padding: 5px 20px;
    opacity: 0.8;
    padding-top: 2%;
}

.products .card .desc {
    font-weight: 900;
    font-size: 20px;
    color: #424144;
    padding: 0 20px;
}

.products .card .box {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 20px;
}

.products .card .box .price {
    color: #a73131;
    font-size: 20px;
    font-weight: bold;
}

.products .card .box .btnView {
    font-size: 13px;
    color: #a73131;
    padding: 10px 18px;
    font-weight: 900;
    border: 1px solid #a73131;
    border-radius: 20px;
    transition: background-color 0.3s;
    transition: 0.3s;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.products .card .box .btnView:hover {
    cursor: pointer;
    background-color: #a73131;
    color: white;
    transform: scale(1.05);
}

.card:hover {
    transition: .3s;
    transform: scale(1.02);
    background: #96969696;
    color: #ffffff;
}

.products .card:hover .desc {
    color: white;
}

.previewMenu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.25);
    padding: 20px;
    width: 900px;
    align-items: center;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    opacity: 0;
    pointer-events: none;
    z-index: 2;
    transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
}

.previewMenu.active {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    pointer-events: auto;
}

.previewMenu .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 23px;
    height: 17px;
    background: #4CAF50;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
    transition: 1s;
}

.previewMenu .btn-close:hover {
    background: #821e1e;
    color: #eee;
}

.productContent {
    display: flex;
    align-items: center;
}

.img_holder {
    flex: 1;
}

.text_content {
    flex: 2;
    padding: 0 20px;
    text-align: left;
}

#product_name {
    font-size: 24px;
    color: #333;
    padding-bottom: 3%;
}

#product_price {
    color: #a73131;
    font-weight: bold;
    padding-bottom: 5%;
    font-size: 25px;
}

#product_soldBy {
    font-weight: lighter;
}

#desc_product {
    font-weight: bold;
    font-size: 25px;
    padding-top: 3%;
}

#product_desc {
    color: #000;
    font-size: 14px;
    padding-bottom: 7%;
}

#product_color {
    font-weight: lighter;
}

#product_scale {
    font-weight: lighter;
}

#product_ETA {
    color: #000000;
}

.contSoldby {
    display: flex;
    align-items: center;
    padding-bottom: 3%;
}

.contSoldby p {
    margin-right: 5px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.contColor {
    display: flex;
    align-items: center;
    padding-bottom: 3%;
}

.contColor p {
    margin-right: 5px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.contScale {
    display: flex;
    align-items: center;
    padding-bottom: 3%;
}

.contScale p {
    margin-right: 5px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.contETA {
    display: flex;
    align-items: center;
    padding-bottom: 3%;
}

.contETA p {
    margin-right: 5px;
    justify-content: center;
    align-items: center;
    color: green;
}

.contItemsCount {
    display: flex;
    align-items: center;
    padding-bottom: 3%;
}

.contItemsCount p {
    margin-right: 5px;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
}

.img_holder .add_to_cart_img {
    justify-content: center;
    width: 400px;
    height: auto;
}

#btnAdd_to_cart,
#btnPlaceOrder {
    width: 200px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: 1s;
}

#btnAdd_to_cart:hover,
#btnPlaceOrder:hover {
    background-color: #a73131;
}

#btnAdd_to_cart:focus,
#btnPlaceOrder:focus {
    outline: none;
}

.popup-open {
    overflow: hidden;
    background-color: #00000008;
}

.no-pointer-events {
    pointer-events: none;
}

.popup-active {
    overflow: hidden;
}

.popup-active::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    backdrop-filter: blur(7px);
}

#btnMinusITEM,
#btnAddItem {
    width: 50px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: 1s;
}

#btnMinusITEM:hover,
#btnAddItem:hover {
    background-color: #a73131;
}

#btnMinusITEM:focus,
#btnAddItem:focus {
    outline: none;
}

.input_box {
    display: flex;
    justify-content: right;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
}

.input_box input {
    width: 100px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: rgba(155, 155, 155, 0.226);
    justify-content: center;
    text-align: center;
    transition: background 0.3s;
}

.blur {
    filter: blur(5px);
    /* Adjust the blur intensity as needed */
}